{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Novo Veículo</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="fabrication_date">Data de fabricação</label>
                    <input type="text" name="fabrication_date" class="form-control" id="fabrication_date" required>
                </div>
                <div class="form-group">
                    <label for="color">Cor</label>
                    <input type="text" name="color" class="form-control" id="color" required>
                </div>
                <div class="form-group">
                    <label for="brand">Marca</label>
                    <input type="text" name="brand" class="form-control" id="brand" required>
                </div>
                <div class="form-group">
                    <label for="type_vehicle">Tipo</label>
                    <select name="type_vehicle" class="form-control" id="type_vehicle">
                        <option value="carro">Carro</option>
                        <option value="moto">Moto</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="garage">Garagem</label>
                    <select name="garage" class="form-control" id="garage">
                        <option>-----Selecione-----</option>
                        {% for g in garages %}
                            <option value="{{ g.id }}"> {{ g.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}