{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

            <h2>Gerencie suas garanges aqui</h2>

        </div>
        {% if garages %}
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                

                {% for garage in garages %}
                {#  Single Card Template:#}
                <div class="card" style="width: 18rem; margin: 10px">
                <!-- <img src="{{ card.image }}" class="card-img-top" > -->
                <div class="card-body">
                    <div style="display: flex; flex-direction: row">
                    <h5 class="card-title">{{ card.name }}</h5>
                    {#  Colored cirlce:#}
                    <div style="
                        background: {{ card.color }};
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        border-radius: 50%;
                    "></div>
                    </div>
                    <p class="card-text"><b>Nome:</b> {{ garage.name }}</p>
                    <p class="card-test"><b>Capacidade:</b> {{ garage.capacity }}</p>
                    <a href="{% url 'editgarage' garage.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'deletegarage' garage.id %}" class="btn btn-danger">Deletar</a>
                </div>
                </div>
                {% endfor %}
          </div>
        {% else %}
          <div class="text-center">
              <h2>Ainda não possui garagens cadastrados.</h2>
          </div>
       {% endif %}
    </div>
    <div class="text-center">
        <a role="button" class="btn btn-success" href="{% url 'creategarage' %}">Adicionar Garagem</a>
    </div>

{% endblock %}
