{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

        <h2>Criação de pessoas e garanges!</h2>

{% endblock %}
